<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.adarsh.cleandownloads</string>
  <key>UserName</key>
  <string>adarsh</string>
  <key>GroupName</key>
  <string>staff</string>
  <key>ProgramArguments</key>
  <array>
    <string>/Users/adarsh/.bin/clean_downloads</string>
  </array>
  <key>StartInterval</key>
  <integer>10</integer>
  <key>StandardOutPath</key>
  <string>/tmp/launchd.stdout.log</string>
  <key>StandardErrorPath</key>
  <string>/tmp/launchd.stderr.log</string>
</dict>
</plist>
